<a href="https://colab.research.google.com/github/fsadriann/ejercicios_for/blob/main/ejercicios_for_ipymb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# EJERCICIO 1: mostrar los números del 1 al 10 sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: mostrar los números del 1 al 10 usando la instrucción while

contador = 1
print(contador)
while contador<10:
  #contador = contador +1
  contador += 1
  print(contador)

In [ ]:
#EJERCICIO 3: mostrar los números del 1 al 10, usando la instrucción for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]

for i in lista:
    print(i)

In [ ]:
#EJERCICIO 4: mostrar los números del 1 al 10 usando la instrucción for y la instrucción range

for i in range(1,11):
    print(i)

In [ ]:
#EJERCICIO 5: mostrar una frase 10 veces usando la instrucción for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]

for i in lista:
    print(f"{i} sistemas, lo mejor!!")

In [ ]:
#EJERCICIO 6: mostrar la silaba inicial de los dias de la semana usando for y una lista con la silaba inicial de los dias de la semana

dias_semana = "lu","ma","mi","ju","vi","sa","do"

for i in dias_semana:
    print(i)

In [ ]:
#EJERCICIO 7: mostrar una lista de distintos tipos de datos usando for

lista = [1,3.4,9,True,"nestor",8,"guanentá"]

for i in lista:
  print(i)

In [ ]:
#EJERCICIO 8: ingresar su nombre y mostrarlo letra por letra

nombre = input("ingrese su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
#EJERCICIO 9: ingresar su nombre y mostarlo letra a letra usando for cambiando por asterisco * a la vocal e

nombre = input("ingrese su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
#EJERCICIO 10: ingresar su nombre y mostrarlo letra a letra en mayúscula, usando for

nombre = input("ingrese su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
#EJERCICIO 11: imprimir listas de numeros usando for y range

print("numeros del 0 al 9")

for i in range(10):
    print(i)

print("numeros del 1 al 10")

for i in range(1,11):
    print(i)

print("10 veces la frase")

for i in range(10):
     print("sistemas lo mejor")

print("10 veces la frase i = ")

for i in range(10):
    print("i = "+ str(i))

print("10 veces la frase i = ")

for i in range(10):
    print("i = "+ str(i))
for i in range(10):
    print(f"i = {i}")

print("rango del 7 al 18, incrementado de 4 en 4")

for i in range(7,19,4):
    print(i)

print("convierte rango en lista a, y la muestra")

a = list(range(1000))
print(a)

# Ejercicios

1. dada la siguiente lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo lo que no termina en 1.

2. mostrar 1000 veces la palabra "programación" 

3. de el conjunto de cadenas ["E", "F", "M", "A"] que corresponden a los primeros meses del año, mostrar el nombre de esos meses.

4. leer un texto y determinar cuantas veces se encuentra con las vocales en minúsculas o en mayúsculas.

In [ ]:
# Ejercicio 1

lista = [20,21,30,41,50,51,201]

for i in lista:
  if i % 10 == 0:
    print(i)

In [ ]:
# Ejercicio 2

for i in range(1001):
  print("programación")

In [ ]:
# Ejercicio 3

i_mes = ["E", "F", "M", "A"]

meses = {"E": "Enero","F": "Febrero","M": "Marzo","A": "Abril"}

for i in i_mes:
    mes = meses[i]
    print(mes)

In [ ]:
# Ejercicio 4

texto = input("Ingresa un texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

for letras in texto:
    if letras in vocales:
        vocales[letras] += 1

print("Vocales en el texto:")
for vocal, cantidad in vocales.items():
    print(f"{vocal}: {cantidad}")